body{
	font-family: 'Playfair Display', serif;
	color:#333333;
}
a{
	color:#333333;
	text-decoration: none!important;
}
header{
	padding: 20px 0;
}
img{
	width: 100%;
}
ul{
	margin:0;
}
h3 {
    font-size: 1.7em;
    margin-top: 0;
}
p{
	margin:0;
}
.envelope{
	color:#1BB8FF;
	font-size: 57px;
	margin-left: 14px;
}
.logo img{
	width: auto;
}
.actualizado{
	font-size: 12px;
	font-family: 'Cabin', sans-serif;
}
.social a{
	color:#000;
}
.banner{
	margin:40px 0;
}
#banner_1{
	margin:0;
}
nav{
	border-top:2px solid #EDEDED;
	border-bottom:2px solid #EDEDED;
	padding:10px 0;
}
nav i{
	margin-right: 10px;
	font-size: 20px!important;
}
nav i, nav ul{
	display: inline-block;
}
nav ul li{
	list-style: none;
	display: inline-block;
	margin-right: 20px;
	font-size: 1.5em;
}
nav ul a:hover{
	border-bottom: 2px solid #1BB8FF;
}
nav ul a:last-child li{
	margin-right: 0;
}
.social i{
	font-size:20px;
	margin: 5px 0 0 10px;
}
#principal_article{
	position: relative;
}
#principal_article .date{
	padding: 5px 5px 5px 80px;
	font-family: 'Cabin', sans-serif;
	font-size: 20px;
	font-weight: bold;
	background: #1BB8FF;
	color:#FFF;
	position: absolute;
	top:20px;
	right: 0;
	background: -webkit-linear-gradient(115deg,transparent 20%,#1BB8FF 0); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(115deg,transparent 20%,#1BB8FF 0); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(115deg,transparent 20%,#1BB8FF 0); /* For Firefox 3.6 to 15 */
    background: linear-gradient(115deg,transparent 20%,#1BB8FF 0); /* Standard syntax */
}
.txt_particle{
	background:rgba(0,0,0,0.7);
	color:#FFF;
	padding: 10px 20px 20px;
	position: absolute;
	top: 30%;
	left: 45px;
	border-left: 6px solid #1BB8FF;
}
.txt_particle h3{
	font-size: 39px;
	line-height: 48px;
}
.txt_particle p{
	font-family: 'Cabin', sans-serif;
	font-size: 1.2em;
}
.buttons a{
	position: absolute;
	bottom: 30px;
	font-family: 'Cabin', sans-serif;
	font-weight: 700;
}
.buttons a:first-child{
	background: #1BB8FF;
	padding: 5px 15px;
	left: 6.5%;
	font-weight: bold;
}
.buttons a:nth-child(2){
	color:#FFF;
	border: 3px solid #1BB8FF;
	padding: 2px 20px;
	left: 14.8%;	
}
#content .image{
	position: relative;
}
#content .image h3, #content .image h4{
	position: absolute;
	bottom: 5px;
	left: 17px;
	color:#FFF;
}
#content .image .img_text{
	position: absolute;
	bottom: 25px;
	left: 17px;
	color:#FFF;
}
#content .layer{
	position: absolute;
    width: 100%;
    height: 100%;
    background: -webkit-linear-gradient(transparent,rgba(0,0,0,0.9)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(transparent,rgba(0,0,0,0.9)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(transparent,rgba(0,0,0,0.9)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(transparent,rgba(0,0,0,0.9)); /* Standard syntax */
}
#content .image etiqueta{
	position: absolute;
	font-size: 1.2em;
	font-weight: bold;
	font-family: 'Cabin', sans-serif;
	padding: 5px 20px; 
	bottom:100px;
	background: #1BB8FF;
	color:#FFF;
}
#content .image etiqueta.small_etiqueta{
	font-size: 12px;
	bottom: 85px;
}
#content .image etiqueta.etiqueta_2{
	bottom: 155px;
}
#content .title{
	font-size: 2.5em;
}
#content .icon {
	 width: auto;
	 margin: 0 15px 12px 0;
}
.border-right{
	border-right: 2px solid #DFDFDF;
}
.border-bottom{
	border-bottom: 2px solid #DFDFDF;
	margin: 0 15px;
}
#content .share{
	margin-top: 5px;
	font-family: 'Cabin', sans-serif;
	color:#A0A0A0;
}
#content .share i{
	font-size: 24px;
	margin-left: 5px;
	color:#BDBFBC;
	-webkit-transition: 0.3s; /* Safari */
    transition: 0.3s;
}
#content .share i:hover{
	color:#1BB8FF;
}
#content .etiqueta{
	background: #1BB8FF;
	color:#FFF;
	font-family: 'Cabin', sans-serif;
	padding: 5px 0;
}
#content .image_bottom etiqueta{
	bottom: 0;
}
/*etiquetas*/
.etiquetas span:first-child{
	border-bottom: 2px solid #1BB8FF;
	margin-left: 0;
}
.etiquetas .span_first{
	margin-left: 0;
}
.etiquetas span{
	margin-left: 20px;
}
/*footer*/
footer{
	background: #080D13;
	color:#FFF;
	padding: 40px 0 0;
}
footer ul{padding:0;}
footer ul li{
	list-style: none;
}
footer ul a{
	color:#FFF;
}
footer .footer_title{
	padding-bottom: 10px;
	border-bottom: 2px solid #1BB8FF;
	margin-bottom: 20px;
}
footer img{width: auto;margin-bottom: 10px;}
footer .footer{
	background: #050B0F;
	padding: 15px 0;
	margin-top:20px;
}
footer i{
	margin-right: 20px;
}