body{
	font-family: 'Cabin', sans-serif;
	color:#333333;
}
a{
	color:#333333;
	text-decoration: none!important;
}
header{
	padding: 20px 0;
}
img{
	width: 100%;
}
ul{
	margin:0;
}
h1, h2, h3, h4, h5, h6
{
	font-family: 'Playfair Display', serif;
	margin-top: 0;
}
h2
{
	font-size: 2em;
}
h3 {
    font-size: 1.7em;
    margin-top: 0;
}
p{
	margin:0;
}

.hr-small
{
	margin: 10px 0;
	border-top: 1px solid #DFDFDF;
}

.bg_gray{
	background:#F6F6F6;
}
.mb{
	margin-bottom: 20px;
}
.little_title{
	font-size: 18px;
}
.envelope{
	color:#1BB8FF;
	font-size: 57px;
	margin-left: 14px;
}
.logo{
	width: 70px;
	margin: 0 0 20px 0;
}
.actualizado{
	font-size: 12px;
	font-family: 'Cabin', sans-serif;
}
.thumbnail_side{
	border:2px solid #DFDFDF;
	height:105px;overflow: hidden;
}
.thumbnail_side img{
	min-height:105px;
}
.social a{
	color:#000;
}
.banner{
	margin:40px 0;
}
#banner_1{
	margin:0;
}
nav{
	border-top:2px solid #EDEDED;
	border-bottom:2px solid #EDEDED;
	font-family: 'Playfair Display', serif;
}
nav i, .i_nav{
	margin-right: 10px;
	font-size: 20px!important;
}
nav i, nav .menu{
	display: inline-block;
}
nav .menu ul{
	padding-left: 80px;
}
nav .menu ul li{
	list-style: none;
	display: inline-block;
	margin-right: 20px;
	font-size: 1.5em;
}
nav .menu ul a:last-child li{
	margin-right: 0;
}
nav .menu ul li a{
	display: block;
	padding: 5px 0;
	border-bottom:2px solid #EDEDED;
	-webkit-transition: all .4s;
	-moz-transition: all .4s;
	-ms-transition: all .4s;
	-o-transition: all .4s;
	transition: all .4s;
	margin-bottom: -2px;
}
nav .menu ul li a:hover{
	border-bottom: 2px solid #1BB8FF;
}
nav .menu-mobile {
	display: inline-block!important;
}
nav .menu-mobile ul{
	padding-left: 0!important;
}
nav .menu-mobile ul li{
	margin-right: 0px!important;
	font-size: 15px;
}
.menu-mobile ul li:first-child:after,.menu-mobile ul li:nth-child(2):after{
	content: " /";
 }
.social i{
	font-size:20px;
	margin: 5px 0 0 10px;
}
#principal_article{
	position: relative;
}
#principal_article .date{
	padding: 5px 5px 5px 80px;
	font-family: 'Cabin', sans-serif;
	font-size: 1.8em;
	font-weight: bold;
	background: #1BB8FF;
	color:#FFF;
	position: absolute;
	top:20px;
	right: 0;
	background: -webkit-linear-gradient(115deg,transparent 20%,#1BB8FF 0); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(115deg,transparent 20%,#1BB8FF 0); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(115deg,transparent 20%,#1BB8FF 0); /* For Firefox 3.6 to 15 */
    background: linear-gradient(115deg,transparent 20%,#1BB8FF 0); /* Standard syntax */
}
.date{
	padding: 5px 5px 5px 10px;
	font-family: 'Cabin', sans-serif;
	font-size: 20px;
	font-weight: bold;
	background: #1BB8FF;
	color:#FFF;
	background: -webkit-linear-gradient(45deg,#1BB8FF 250px,transparent 24%); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(45deg,#1BB8FF 250px,transparent 24%); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(45deg,#1BB8FF 250px,transparent 24%); /* For Firefox 3.6 to 15 */
	background: linear-gradient(45deg,#1BB8FF 250px,transparent 24%);
} /* Standard syntax */
.txt_particle{
	background:rgba(0,0,0,0.7);
	color:#FFF;
	padding: 10px 20px 20px;
	position: absolute;
	top: 30%;
	left: 45px;
	border-left: 6px solid #1BB8FF;
}
.txt_particle h3{
	font-size: 3em;
	line-height: 1.2em;
}
.txt_particle p{
	font-family: 'Cabin', sans-serif;
	font-size: 1.2em;
}
.buttons a{
	position: absolute;
	bottom: 30px;
	font-family: 'Cabin', sans-serif;
	font-weight: 700;
}
.buttons a:first-child{
	background: #1BB8FF;
	padding: 5px 15px;
	left: 6.5%;
	font-weight: bold;
}
.buttons a:nth-child(2){
	color:#FFF;
	border: 3px solid #1BB8FF;
	padding: 2px 20px;
	left: 14.8%;	
}
#content .image{
	position: relative;
}
#content .image h3, #content .image h4{
	position: absolute;
	bottom: 5px;
	left: 17px;
	color:#FFF;
}
.item-content
{
	margin-top: 15px;
}
#content .image .img_text{
	position: absolute;
	bottom: 25px;
	left: 17px;
	color:#FFF;
}
#content .image .img_text a{
	color:#FFF;
}
#content .layer{
	position: absolute;
    width: 100%;
    height: 100%;
    background: -webkit-linear-gradient(transparent,rgba(0,0,0,0.9)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(transparent,rgba(0,0,0,0.9)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(transparent,rgba(0,0,0,0.9)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(transparent,rgba(0,0,0,0.9)); /* Standard syntax */
}
#content .image .etiqueta{
	position: absolute;
	font-size: 1.2em;
	font-weight: bold;
	font-family: 'Cabin', sans-serif;
	padding: 5px 20px; 
	bottom:100px;
	left: 0;
	background: #1BB8FF;
	color:#FFF;
}
#content .image .etiqueta.small_etiqueta{
	font-size: 12px;
	bottom: 85px;
}
#content .image .etiqueta.etiqueta_2{
	bottom: 155px;
}
#content .title{
	font-size: 2.5em;
	margin-top: 20px;
}
#content .icon {
	 width: 14px;
}
.border-left{
	border-left: 1px solid #DFDFDF;
}
.border-right{
	border-right: 1px solid #DFDFDF;
}
.border-bottom{
	border-bottom: 1px solid #DFDFDF;
}

.listitem-news h4 { margin-bottom: 0; }
.listitem-news .thumb { height: 60px;
	display: block;
	overflow: hidden; }

.listitem-news .col-md-3 { padding-right: 0; }

#content .share{
	font-family: 'Cabin', sans-serif;
	color:#A0A0A0;
}
#content .share i{
	font-size: 24px;
	margin-left: 5px;
	color:#BDBFBC;
	-webkit-transition: 0.3s; /* Safari */
    transition: 0.3s;
}
#content .share i:hover{
	color:#1BB8FF;
}
#content .share-right{
}
#content .etiqueta{
	background: #1BB8FF;
	color:#FFF;
	font-family: 'Cabin', sans-serif;
	padding: 5px 0;
}
#content .image_bottom .etiqueta{
	bottom: 0;
}
/*etiquetas*/
.etiquetas{
	padding: 45px 0;
}
.etiquetas span{
	border-bottom: 2px solid #1BB8FF;
	margin-left: 0;
	font-size: 22px;
}
.etiquetas ul li{
	font-family: 'Cabin', sans-serif;
	list-style: none;
	color:#A0A0A0;
}
.etiquetas ul a{
	color:#A0A0A0;
	font-size: 15px!important;
}
/*footer*/
footer{
	background: #080D13;
	color:#FFF;
	padding: 40px 0 0;
	font-family: 'Cabin', sans-serif;
}
footer ul{padding:0;}
footer ul li{
	list-style: none;
}
footer ul a{
	color:#FFF;
}
footer .footer_title{
	font-family: 'Playfair Display', serif;
	padding-bottom: 10px;
	border-bottom: 2px solid #1BB8FF;
	margin-bottom: 20px;
}
footer .col-md-4{
	padding-right:90px;
}
footer img{width: auto;margin-bottom: 10px;}
footer .footer{
	background: #050B0F;
	padding: 15px 0;
	margin-top:20px;
	color:#A0A0A0;
}
footer .footer p{
	display: inline-block;
}
.footer-contacto i{
	width: 12px;
	float: left;
	text-align: center;
	font-size: 20px!important;
}
.footer-contacto span{
	display: block;
	margin-left: 25px;
}

/*media queries*/
@media screen and (max-width: 1199px) {
	/*body {*/
		/*font-size: 10px;*/
	/*}*/
}
@media screen and (max-width: 991px) {
	/*body {*/
		/*font-size: 8px;*/
	/*}*/
	.buttons a {
		bottom: 10px;
	}
	.txt_particle{
		position: inherit;
		background:#000;
	}
	.buttons a {
		position: inherit;
		color: #333333!important;
	}
	.buttons{
		margin-top: 20px;
	}
}
/*@media screen and (max-width: 767px) {*/
	/*.thumbnail_side {*/
		/*height: auto!important;*/
	/*}*/
/*}*/
@media screen and (max-width: 767px) {
	h2,h4{
		font-size: 15px;
		margin: 0;
	}
	.actualizado{
		font-size: 8px;
	}
	.social i {
		font-size: 13px;
		margin: 25px 0 0 4px;
	}
	.logo {
		width: 50px;
	}
	nav{
		text-align: center;
	}
	#content .image h4 {
		font-size: 10px;
	}
	.etiqueta.etiqueta_2 {
		bottom: 35%!important;
	}
	footer .col-md-4 {
		padding-right: 0;
		text-align: center;
		margin: 0 25%;
	}
}
